// Import Bootstrap functions and variables
@import "functions";
@import "variables";
@import "mixins";

$primary: #c99d82; // set the $primary variable
$secondary: #6ab99c;
$third: #012619;
$fourth: #01402E;
$fifth: #A65437;
$sixth: #591202;
$seventh: #31594B;
$light: #E9EEF2;
$dark: #010D00;
$woodred: #591202;
$themegrey: #736E65;
$brown: #260B01;
$sky: #AAB7BF;
// merge with existing $theme-colors map
$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "third": $third,
        "fourth": $fourth,
        "fifth": $fifth,
        "sixth": $sixth,
        "seventh": $seventh,
        "light": $light,
        "dark": $dark,
        "woodred": $woodred,
        "themegrey": $themegrey,
        "brown": $brown,
        "sky": $sky,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "gray-300": $gray-300,
        "gray-400": $gray-400,
        "gray-500": $gray-500,
        "gray-700": $gray-700
);

$component-active-bg: $light;
$nav-link-color: $seventh;
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: $seventh;
$accordion-button-active-bg: $light;

@font-face {
  font-family: 'ThemeFont';
  src: url('/Macondo-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'ThemeFont', sans-serif;
}

.navbar-brand {
  font-family: 'ThemeFont', sans-serif;
}

.bg-image {
  /* The image used */
  background-image: url("/images/diver.jpg");
  /* Add the blur effect */
  filter: blur(30px);
  -webkit-filter: blur(30px);
  width: 120%;
  height: 120%;
  left: -35px;
  top: -35px; // todo try   top: env(safe-area-inset-top-33px, -33px);
  z-index: -7;
  position: fixed;
  background-position: center;
  /* Full height */
  /* Center and scale the image nicely */
  background-repeat: repeat;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

details:has(ul) > summary::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.tree summary::before {
  z-index: 1;
  background: #696 url("/images/expand-collapse.svg") 0 0;
}

.tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}

// Import Bootstrap
@import "bootstrap";
@import "bootstrap-utilities";
@import "_accordion";

