<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="head.html :: head"/>
    <title>Lies die Bibel</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<!--show warning-->
<div th:insert="warning.html"></div>

<!-- Main Container Start -->
<div class="main-container container py-5 px-4">
    <h1>Übersetzung wählen</h1>

    <!--/*@thymesVar id="languages" type="java.util.List<java.util.Map.Entry<String, java.util.List<de.evangeliumstaucher.model.BibleSummary>>>"*/-->
    <div th:each="langSet : ${languages}">
        <div th:text="${langSet.key}">
        </div>
        <div th:each="bible : ${langSet.value}">
        <a th:href="|/bible/${bible.id}/|"
             th:text="|${bible.abbreviationLocal} - ${bible.nameLocal} - ${bible.descriptionLocal}|">
        </a>
    </div>
    </div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>