<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="head.html :: head"/>
    <title>Lies die Bibel</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<!--show warning-->
<div th:insert="warning.html"></div>

<!-- Main Container Start -->
<div class="main-container container py-5 px-4">
    <div class="btn-group row d-flex flex-wrap">
        <!--/*@thymesVar id="books" type="java.util.List<com.devrezaur.main.viewmodel.BookModel>"*/-->
        <th:block th:each="book : ${books}">
            <div class="col-3 p-0 text-nowrap">
                <button aria-expanded="false"
                        class="btn btn-secondary container rounded-0 m-1"
                        data-bs-toggle="collapse"
                        th:aria-controls="|${book.htmlId}|"
                        th:data-bs-target="|#${book.htmlId}|"
                        th:text="${book.abbreviation}"
                        type="button">
                </button>
            </div>
            <div class="collapse"
                 th:id="${book.htmlId}">
                <div class="btn-group d-flex flex-wrap">
                    <div th:each="chapter : ${book.chapters}">
                        <button aria-expanded="false"
                                class="btn btn-secondary rounded-0 m-1"
                                data-bs-toggle="collapse"
                                onclick="loadVersesAjax(this.getAttribute('data-loaderid'),this.getAttribute('data-verseurl'))"
                                th:aria-controls="|${chapter.htmlId}|"
                                th:data-bs-target="|#${chapter.htmlIdEscaped}|"
                                th:data-loaderid="|${chapter.htmlIdEscaped}-loader|"
                                th:data-verseurl="|${chapter.id}|"
                                th:id="|${chapter.htmlId}-btn|"
                                th:text="${chapter.label}"
                                type="button">
                        </button>
                        <div class="collapse"
                             th:id="|${chapter.htmlId}|">
                            <div th:id="|${chapter.htmlId}-loader|">
                                <div class="spinner-grow" role="status">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
<script type="text/javascript">
    function loadVersesAjax(loaderid, versesUrl) {
        $.ajax({
            url: versesUrl,
            success: function (data) {
                $('#' + loaderid).html(data);
            }
        });
    }
</script>
<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>