<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="text-primary">evangeliums</span><span class="text-secondary">taucher</span></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/quiz/create/">Spielen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bible/">Lesen</a>
                </li>

                <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
                <li class="nav-item">
                    <button class="nav-link" data-bs-target="#qrCodeModal" data-bs-toggle="modal" id="share-btn">Teilen
                        <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path d="M352 224c53 0 96-43 96-96s-43-96-96-96s-96 43-96 96c0 4 .2 8 .7 11.9l-94.1 47C145.4 170.2 121.9 160 96 160c-53 0-96 43-96 96s43 96 96 96c25.9 0 49.4-10.2 66.6-26.9l94.1 47c-.5 3.9-.7 7.8-.7 11.9c0 53 43 96 96 96s96-43 96-96s-43-96-96-96c-25.9 0-49.4 10.2-66.6 26.9l-94.1-47c.5-3.9 .7-7.8 .7-11.9s-.2-8-.7-11.9l94.1-47C302.6 213.8 326.1 224 352 224z"/>
                        </svg>
                    </button>
                </li>
                <!-- Modal dialog for displaying the QR code -->
                <div aria-hidden="true" aria-labelledby="qrCodeModalLabel" class="modal fade" id="qrCodeModal"
                     tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="qrCodeModalLabel">QR-Code</h5>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">
                                <div id="qrCode"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var qrCodeGenerated = false;

                    $(document).ready(function() {
                        $('#share-btn').click(function() {
                            // Check if the QR code has been generated already
                            if (!qrCodeGenerated) {
                                // Generate QR code
                                $('#qrCode').qrcode({
                                    text: "https://google.de/",
                                    width: 200,
                                    height: 200
                                });

                                // Set the flag to true
                                qrCodeGenerated = true;
                            }
                        });
                    });
                </script>

            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
</body>
</html>