<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="head.html :: head"/>
    <title>Quiz Page</title>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<!--/*@thymesVar id="question" type="com.devrezaur.main.viewmodel.RunningQuestion"*/-->
<div class="container py-5 px-4">

    <script>
        function loadPassageAjax(path) {
            $.ajax({
                url: path,
                success: function (data) {
                    $('#waiting' + path).replaceWith(data);
                }
            });
        }
    </script>
    <div id="quizpassage">
        <div th:insert="passageContextLoading.html :: passageContextLoading(${question.pre})"></div>
        <div th:insert="passageContextLoading.html :: passageContextLoading(${question.origin})"></div>
        <div th:insert="passageContextLoading.html :: passageContextLoading(${question.post})"></div>
    </div>
    <div th:insert="fragment-selector.html :: selector (${question.books})"></div>
</div>

<!--handling the zoom -> text scaling-->
<script>
    const box = document.getElementById("quizpassage");

    function handleWheel(event) {
        event.preventDefault();
        const delta = -event.deltaY;
        const currentFontSize = parseFloat(getComputedStyle(box).fontSize);
        const newFontSize = currentFontSize + (delta / 20);
        box.style.fontSize = newFontSize + "px";
    }

    box.addEventListener("wheel", handleWheel, { passive: false });
</script>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>