<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="head.html :: head"/>
    <title>Quiz Page</title>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<!--/*@thymesVar id="question" type="com.devrezaur.main.viewmodel.RunningQuestion"*/-->
<div class="container py-5 px-4">

    <script>
        function loadPassageAjax(path) {
            $.ajax({
                url: path,
                success: function (data) {
                    $('#waiting' + path).replaceWith(data);
                }
            });
        }
    </script>
    <div th:text="${question.verse.verseSummary.reference}"></div>
    <div th:insert="passageContextLoading.html :: passageContextLoading('pre', '', true, 5000)"></div>
    <div th:insert="passageContextLoading.html :: passageContextLoading('origin', '', true, 0)"></div>
    <div th:insert="passageContextLoading.html :: passageContextLoading('post', '', true, 5000)"></div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>