<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Über das Projekt evangeliumstaucher</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="~{navbar.html :: navbar}"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 p-4">
    <h1>Über den evangeliumstaucher</h1>
    <h2>Projekt evangeliumstaucher</h2>
    <p>
        Das Projekt evangeliumstaucher ist ein gemeinnütziges Projekt.
        Es ist ein spielerisches Mittel für einzelne Personen oder auch Personengruppe die Bibel näher kennen zu
        lernen.
        Es gibt den direkten Bezug zu Bibeltext.
        Zusätzlich wird das Lesen im Kontext gefördert.
        Dies fördert
    <ul>
        <li>das tiefere Verständnis der Aussagen</li>
        <li>die bessere Erkenntnis von Gottes Absichten</li>
        <li>das Vergleichen von unterschiedlichen Passagen</li>
    </ul>
    u.v.m.
    </p>
    <h2>Was ist nobler.tech?</h2>
    <p>
        Die Bibel bezeichnet die Menschen der griechischen Stadt Beröa als <b></b><i>nobler</i></b> (s.
        Apostelgeschichte 17,11).
        Das liegt daran, dass sie dem Evangelium gegenüber aufgeschlossen waren.
        Sie studierten das Evangelium und prüften mithilfe biblischer Schriften, ob es wahr sei.
        Diese Eigenschaft ist das Ziel. Es geht darum diese Eigenschaft zu fördern und auszuprägen.
    </p>
    <p> Unter dem Namen nobler.tech möchte Daniel Schönke technische Produkte bereitstellen, welche den Menschen
        beim Bibelstudium Unterstützung geben.
    </p>
    <h2>Open Source</h2>
    <p> evangeliumstaucher ist ein Open-Source-Projekt. Das bedeutet, dass jeder es erweitern, verändern und selbst
        betreiben kann. </p>

    <p> Schau dir das Projekt auf <i class="fa-brands fa-github"></i> <a class="link-secondary"
            href="https://github.com/schoenked/evangeliumstaucher">GitHub</a> an. Über
        technische Unterstützung würde ich mich sehr freuen! </p>
<h2>Kontakt</h2>
    Schreib mir gerne eine Mail
    <a class="link-secondary" href="mailto:nobler.tech@gmail.com">nobler.tech@gmail.com</a>
</div>

<!-- Importing Footer -->
<div th:insert="~{footer.html :: footer}"></div>
</body>
</html>