<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>evangeliumstaucher</title>
    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" rel="stylesheet"></link>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>

</head>
<body>

<!-- Importing NavBar -->
<div th:insert="~{navbar.html :: navbar}"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 p-4">
    <h1>Wähle deine Übersetzung</h1>

    <div class="my-5" th:insert="datatable.html :: datatable(${booksTable})"></div>

</div>

<!-- Importing Footer -->
<div th:insert="~{footer.html :: footer}"></div>
</body>
</html>