<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Lies die Bibel</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="~{navbar.html :: navbar}"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 px-4">
    <h1>Wähle deine Übersetzung</h1>

    <!--/*@thymesVar id="languages" type="java.util.List<java.util.Map.Entry<String, java.util.List<de.evangeliumstaucher.viewmodel.Bible>>>"*/-->
    <div th:each="langSet : ${languages}">
        <div th:text="${langSet.key}">
        </div>
        <div th:each="bible : ${langSet.value}">
        <a th:href="${bible.url}"
             th:text="${bible.label}">
        </a>
    </div>
    </div>
</div>

<!-- Importing Footer -->
<div th:insert="~{footer.html :: footer}"></div>
</body>
</html>