<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Lies die Bibel</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="main-container container py-5 px-4">
    <div class="btn-group row d-flex flex-wrap">

        <div th:insert="fragment-selector.html :: selector (${books})"></div>
    </div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>