<!--/*@thymesVar id="model" type="de.evangeliumstaucher.app.viewmodel.DatatableViewModel"*/-->
<div th:fragment="datatable (model)">
<table class="table" th:id="${model.id}" style="width: 100%">
        <thead>
        <tr>
            <th:block th:each="col : ${model.columns}">
                <th th:text="${col.name}"></th>
            </th:block>
        </tr>
        </thead>
    </table>

    <script>
        let t[[${model.javascriptId}]] = $('table#[[${model.id}]]').DataTable({
            ajax: {
                contentType: 'application/json',
                url: '[(${model.Url})]',
                type: 'POST',
                headers: {
                    'X-XSRF-TOKEN': '[[${_csrf.token}]]'
                },
                data: function (d) {
                    return JSON.stringify(d);
                }
            },

            language: { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/[[${model.language}]].json",},

            columns: [
                [(${model.columnsText})]
            ],
            serverSide: true,
            autoWidth: true
        });

        t[[${model.javascriptId}]].on('click', 'tbody tr', function () {
            let data = t[[${model.javascriptId}]].row(this).data();
            console.log('You clicked on ' + data.location + "'s row");
            if (data.location !== undefined) {
                window.location = data.location;
            }
        });
    </script>

    <!--reload in intervals (interval raising like fibonacci)-->
    <script>
        function sleep(millis) {
            return new Promise(resolve => setTimeout(resolve, millis));
        }
        async function reloader() {
            waiting = 4000;
            while (true) {
                await sleep(waiting);
                //Fibonacci 1.6 becomes to long
                waiting = waiting * 1.2;
                console.log("reloading datatable");
                t[[${model.javascriptId}]].ajax.reload();
            }
        }
        if ([[${model.autoReloader}]]) {
            reloader();
        }
    </script>
</div>