<!--/*@thymesVar id="model" type="de.evangeliumstaucher.app.viewmodel.DatatableViewModel"*/-->
<div th:fragment="datatable (model)">
<table class="table" th:id="${model.id}" style="width: 100%">
        <thead>
        <tr>
            <th:block th:each="col : ${model.columns}">
                <th th:text="${col.name}"></th>
            </th:block>
        </tr>
        </thead>
        <tbody>
            <tr th:each="row : ${model.rows}">
                <td th:each="cell : ${row.cells}">
                    <div th:if="${cell.rendered}" th:utext="${cell.text}"></div>
                    <span th:unless="${cell.rendered}" th:text="${cell.text}"></span>
                </td>
            </tr>
        </tbody>
</table>
    <script>
        let ajax = null;
    </script>

    <script th:if="${model.serverside}">
        //set ajax by model

        ajax = {
            contentType: 'application/json',
            url: '[(${model.Url})]',
            type: 'POST',
            headers: {
                'X-XSRF-TOKEN': '[[${_csrf.token}]]'
            },
            data: function (d) {
                return JSON.stringify(d);
            }
        };
    </script>

    <script>
        let t[[${model.javascriptId}]] = $('table#[[${model.id}]]').DataTable({
            ajax: ajax,
            language: { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/[[${model.language}]].json",},
            columns: [
                [(${model.columnsText})]
            ],
            serverSide:  [(${model.serverside})],
            autoWidth: true,
            scrollX: true,
            dom: 'tfp',
            responsive: true
        });

        t[[${model.javascriptId}]].on('click', 'tbody tr', function () {
            let data = t[[${model.javascriptId}]].row(this).data();
            console.log('You clicked on ' + data.location + "'s row");
            if (data.location !== undefined) {
                window.location = data.location;
            }
        });
        if (typeof mDatatables === 'undefined') {
            mDatatables = [];
        }
        mDatatables.push(t[[${model.javascriptId}]]);
    </script>

    <!--reload in intervals (interval raising like fibonacci)-->
    <script>
        function sleep(millis) {
            return new Promise(resolve => setTimeout(resolve, millis));
        }
        async function reloader() {
            waiting = 4000;
            while (true) {
                await sleep(waiting);
                //Fibonacci 1.6 becomes to long
                waiting = waiting * 1.2;
                console.log("reloading datatable");
                t[[${model.javascriptId}]].ajax.reload();
            }
        }
        // start reloader if autoReloader is set active in model
        if ([[${model.autoReloader}]]) {
            reloader();
        }
    </script>
</div>