<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div>
    <footer class="footer text-center py-2 bg-dark text-light">
        <span>evangeliumstaucher by edel.gesinnt.de</span>
        <br/>
        <a class="link-secondary" href="/about">Info - Kontakt</a>
        <br/>

        <a class="link-secondary" href="mailto:nobler.tech@gmail.com">nobler.tech@gmail.com</a>
        <br/>
        <a class="link-secondary" href="/privacy">Datenschutz</a>
        <br/>
        <a class="link-secondary" href="/terms-of-use">Nutzungsbedingungen</a>
        <br/>
        <form class="d-inline" method="post" th:action="@{/logout}">
            <button class="btn btn-link link-secondary p-0 border-0" type="submit">
                Abmelden
            </button>
        </form>
    </footer>
</div>
</body>
</html>