<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="quiz" type="de.evangeliumstaucher.app.viewmodel.QuizModel"*/-->
<div th:fragment="share (quiz)">
    <div th:if="${quiz}">
        <a class="btn m-2  btn-outline-dark" role="button" target="_blank"
           th:href="|https://wa.me/?text=Hi, lass uns in die Bibel eintauchen. Ich lade dich zum Spiel ${quiz.name} ein. ${@quizService.getShareUrl(quiz)}|"
           type="button">
            <i class="fab fa-whatsapp"></i>&nbsp;
            Whatsapp</a>
        <th:block th:with="randomId=${T(java.lang.Math).round(T(java.lang.Math).random() * 89999 + 10000)}">

            <button class="btn m-2 btn-outline-dark" th:data-clipboard-text="${quizService.getShareUrl(quiz)}"
                    th:id="|copy-btn-${randomId}|">
                <i class="fas fa-copy"></i>&nbsp;
                Link kopieren
            </button>
            <button class="btn m-2 gen-qr-btn btn-outline-dark">
                <i class="fas fa-qrcode"></i>&nbsp;
                QR-Code
            </button>

            <script>
                let clipboard[[${randomId}]] = new ClipboardJS('#copy-btn-[[${randomId}]]');

                clipboard[[${randomId}]].on('success', function (e) {
                    console.log('Action:', e.action);
                    console.log('Text:', e.text);
                    console.log('Trigger:', e.trigger);
                });

                clipboard[[${randomId}]].on('error', function (e) {
                    console.error('Action:', e.action);
                    console.error('Trigger:', e.trigger);
                });
            </script>
        </th:block>

        <div class="qrCode d-flex justify-content-center m-3 "></div>

    </div>
</div>
</body>
</html>