<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="books" type="java.util.List<de.evangeliumstaucher.app.viewmodel.BookModel>"*/-->
<div class="container p-0 row text-center" th:fragment="selector (books)">
    <th:block th:each="book : ${books}">
        <div class="col-2 p-0 text-nowrap">
            <button aria-expanded="false"
                    class="btn w-100 btn-outline-secondary rounded-0 m-1"
                    data-bs-toggle="collapse"
                    role="button"
                    th:aria-controls="|${book.htmlId}|"
                    th:data-bs-target="|#${book.htmlId}|"
                    th:text="${book.abbreviation}">
            </button>
        </div>
        <div class="collapse"
             th:id="${book.htmlId}">
            <div class="container row p-0">
                <th:block th:each="group : ${book.chapterGroups}">
                    <div class="col-12 row">
                        <th:block th:each="chapter : ${group}">
                            <span class="col-2 w-20">
                                <button aria-expanded="false"
                                        class="btn w-100 btn-secondary rounded-0 m-1"
                                        data-bs-toggle="collapse"
                                        onclick="loadVersesAjax(this.getAttribute('data-loaderid'),this.getAttribute('data-verseurl'))"
                                        role="button"
                                        th:aria-controls="|${chapter.htmlId}|"
                                        th:data-bs-target="|#${chapter.htmlIdEscaped}|"
                                        th:data-loaderid="|${chapter.htmlIdEscaped}-loader|"
                                        th:data-verseurl="|/bible/${chapter.bibleId}/${chapter.id}?prefix=${book.prefixVerses}|"
                                        th:id="|${chapter.htmlId}-btn|"
                                        th:text="${chapter.label}">
                                </button>
                            </span>
                            <span class="collapse"
                                  th:id="|${chapter.htmlId}|">
                                <span th:id="|${chapter.htmlId}-loader|">
                                    <span class="spinner-grow" role="status">
                                    </span>
                                </span>
                            </span>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>
    </th:block>

    <script type="text/javascript">
        function loadVersesAjax(loaderid, versesUrl) {
            $.ajax({
                url: versesUrl,
                success: function (data) {
                    $('#' + loaderid).html(data);
                }
            });
        }
    </script>
</div>
</body>
</html>