<!-- Root container for PassageTree rendering -->
<!--/*@thymesVar id="passageTree" type="de.evangeliumstaucher.app.model.PassageTree"*/-->
<details th:fragment="renderPassageTree(passageTree)"
         th:if="${passageTree != null}"
         class="list-group-details"
         th:attr="open=${!passageTree.collapsed ? 'open' : null}">

<summary>
        <div th:if="${passageTree.displayText != null && !passageTree.displayText.isEmpty()}">
            <!-- Display the current PassageTree id -->
            <span class="ms-1 form-check-label" th:for="|add_${passageTree.id}|"
                  th:text="${passageTree.displayText}">Passage ID</span>
            <input class="btn-check p-0" th:id="|add_${passageTree.id}|" th:name="|add_${passageTree.id}|"
                   th:attr="checked=${passageTree.activeWhitelist ? 'checked' : null}"
                   type="checkbox">
            <label class="btn btn-outline-success" th:for="|add_${passageTree.id}|">+</label>
            <input class="btn-check p-0" th:id="|sub_${passageTree.id}|" th:name="|sub_${passageTree.id}|"
                   th:attr="checked=${passageTree.activeBlacklist ? 'checked' : null}"
                   type="checkbox">
            <label class="btn btn-outline-danger" th:for="|sub_${passageTree.id}|">-</label>
        </div>
    </summary>
    <!-- Check if there are child PassageTrees and render them recursively -->
    <ul class="list-group" th:if="${passageTree.passageTrees != null}">
        <li th:id="${child.htmlId}"
            class="list-group-item" th:data-passages="|${child.json}|"
            th:each="child : ${passageTree.passageTrees}">
            <script th:if="${!passageTree.collapsed}">
                var isCollapsed = /*[[${passageTree.collapsed}]]*/ false; // Default to false if not set
                if (!isCollapsed) {
                    //$("#[[${child.htmlId}]]").click();
                    loadPassage($("#[[${child.htmlId}]]"));
                }
            </script>
        </li>
    </ul>
</details>