<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="quiz" type="de.evangeliumstaucher.app.viewmodel.QuizModel"*/-->
<div th:fragment="share (quiz)">
    <div th:if="${quiz}">
        <a class="btn m-2  btn-outline-dark" role="button" target="_blank"
           th:href="|https://wa.me/?text=Hi, lass uns in die Bibel eintauchen. Ich lade dich zum Spiel ${quiz.name} ein. ${@quizService.getShareUrl(quiz)}|"
           type="button">
            <i class="fab fa-whatsapp"></i>&nbsp;
            Whatsapp</a>
        <button class="btn m-2 btn-outline-dark" id="copy-btn"
                th:data-clipboard-text="${quizService.getShareUrl(quiz)}">
            <i class="fas fa-copy"></i>&nbsp;
            Link kopieren
        </button>
        <button class="btn m-2 gen-qr-btn btn-outline-dark">
            <i class="fas fa-qrcode"></i>&nbsp;
            QR-Code
        </button>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
        <script>
            var clipboard = new ClipboardJS('#copy-btn');

            clipboard.on('success', function (e) {
                console.log('Action:', e.action);
                console.log('Text:', e.text);
                console.log('Trigger:', e.trigger);
            });

            clipboard.on('error', function (e) {
                console.error('Action:', e.action);
                console.error('Trigger:', e.trigger);
            });
        </script>

        <div class="qrCode d-flex justify-content-center "></div>

    </div>
</div>
</body>
</html>