<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<!--/*@thymesVar id="books" type="java.util.List<de.evangeliumstaucher.app.viewmodel.BookModel>"*/-->
<div class=" p-0 row gx-0 text-center" id="selector" th:fragment="selector (books)">
    <th:block th:each="book : ${books}">
        <div class="col-2 p-0 text-nowrap">
            <button aria-expanded="false"
                    th:class="|btn w-100 btn-${book.color} rounded-0 m-1 px-0 text-truncate|"
                    data-bs-toggle="collapse"
                    role="button"
                    th:aria-controls="|${book.htmlId}|"
                    th:data-bs-target="|#${book.htmlId}|"
                    th:text="${book.abbreviationShort}">
            </button>
        </div>
        <div class="collapse "
             th:id="${book.htmlId}">
            <div class="row gx-0">
                <th:block th:each="group : ${book.chapterGroups}">
                    <div class="col-12 p-0 row gx-0">
                        <th:block th:each="chapter : ${group}">
                            <span class="col-2 p-1" style="width: 20%;">
                                <button aria-expanded="false"
                                        class="btn w-100 btn-outline-sky rounded-0 m-1"
                                        data-bs-toggle="collapse"
                                        onclick="loadVersesAjax(this.getAttribute('data-loaderid'),this.getAttribute('data-verseurl'))"
                                        role="button"
                                        th:aria-controls="|${chapter.htmlId}|"
                                        th:data-bs-target="|#${chapter.htmlIdEscaped}|"
                                        th:data-loaderid="|${chapter.htmlIdEscaped}-loader|"
                                        th:data-verseurl="|/bible/${chapter.bibleId}/${chapter.id}?prefix=${book.prefixVerses}|"
                                        th:id="|${chapter.htmlId}-btn|"
                                        th:text="${chapter.label}">
                                </button>
                            </span>
                            <span class="collapse p-0"
                                  th:id="|${chapter.htmlId}|">
                                <span th:id="|${chapter.htmlId}-loader|">
                                    <span class="spinner-grow" role="status">
                                    </span>
                                </span>
                            </span>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>
    </th:block>

    <script type="text/javascript">
        function loadVersesAjax(loaderid, versesUrl) {
            $.ajax({
                url: versesUrl,
                success: function (data) {
                    $('#' + loaderid).html(data);
                }
            });
        }

        window.addEventListener("beforeunload", function () {
            console.log("beforeunload");
            $('#modalLoading').modal('show');
        })
    </script>
    <!--loading-->
    <div
            class="modal fade"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            id="modalLoading"
            role="dialog"
            tabindex="-1">
        <div class="modal-dialog d-flex align-items-center align-middle h-100 d-flex justify-content-center ">
            <div class="spinner-border  text-primary min-w-100" role="status" style="width: 7rem; height: 7rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>