<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Evangeliumstaucher</title>
</head>
<body>
<div class="bg-image"></div>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 py-5 px-4 min-vh-100">
    <div class="image-box">
        <img alt="image" class="img-fluid" th:src="@{/images/diver.jpg}">
    </div>
    <p>
        Petrus sagt zu Jesus Christus:
        "Du hast Worte des ewigen Lebens"
        Joh 6,68
    </p>
    <p>
        wertvoller als Gold
        Ps 19,11
    </p>
    <a class="btn btn-secondary text-white" href="/quiz/create/">Tauchgang starten</a>
    <div class="text-box">
        <h1 class="mb-5 text-center">Sprung in die Tiefe in die Bibel</h1>
        <p>
            Bist du bereit dein Wissen der Bibel zu prüfen und zu erweitern? Stell dich der Herausforderung und
            generiere den eigenes Quiz.
        </p>
    </div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>