<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .parallax {
            /* The image used */
            background-image: url("/images/diver.jpg");

            /* Set a specific height */
            min-height: 500px;

            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .speedscroll {
            padding-top: 110%
        }
    </style>
    <head th:insert="~{head.html :: head}"/>
    <title>evangeliumstaucher</title>
</head>
<body>
<div class="bg-image"></div>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 p-0 parallax">
    <div class="container speedscroll" id="spacer1">
    </div>

    <div class="container speedscroll " id="title">
        <div class="card text-bg-dark bg-opacity-75 text-center ">
            <div class="card-body">
                <h1 class="text-primary text-center">Ein<br><span class="display-3">Sprung in die</span><br>Tiefen der
                    <br><span class="display-1 font-weight-bold text-uppercase" style="width: fit-content">Bibel</span>
                </h1>
            </div>
        </div>
    </div>

    <div class="container speedscroll " id="start">
        <div class="card text-bg-dark bg-opacity-75 text-center ">
            <div class="card-body">
                <p class="card-text">Es ist Zeit deine Kenntnis der Bibel zu prüfen und zu erweitern. Fordere dich
                    selber
                    heraus.</p>
                <a class="btn btn-lg btn-block btn-secondary text-white" href="/quiz/">Tauchgang starten</a>
            </div>
        </div>
    </div>
    <div class="container py-6" id="why">
        <div class="speedscroll" id="petercitate">
            <div class="card text-bg-dark  bg-opacity-75 text-center ">
                <div class="card-body blockquote">
                    <p class="card-title">"Du hast
                    <h1>Worte des ewigen Lebens"</h1></p>
                    <figcaption class="blockquote-footer">
                        Petrus zu Jesus Christus <cite title="Source Title">Joh 6,68</cite>
                    </figcaption>
                </div>
            </div>
        </div>
        <div class="speedscroll " id="kingdavidcitate">
            <div class=" card text-bg-dark bg-opacity-75 text-center ">
                <div class="card-body">
                    <p class="card-text">Gottes Rechtsbestimmungen sind</p>
                    <h1 class="card-title">wertvoller als Gold</h1>
                    <figcaption class="blockquote-footer py-2">
                        König David<cite title="Source Title">Ps 19,11</cite>
                    </figcaption>
                </div>
            </div>
        </div>
    </div>
    <div class="container speedscroll" id="spacer3">
    </div>
</div>
<!-- Importing Footer -->
<div class="mt-5" th:insert="footer.html :: footer"></div>
</body>
<script>

    // Function to update the container's height
    function updateContainerHeight() {
        // Get the current scroll position
        $(".speedscroll").each(function (ind, container) {
            let top = container.getBoundingClientRect().top; //container.offsetTop;
            console.log(container.id+ ": top " + top);
            if (top < 0) return;
            // Calculate the new height based on the scroll position
            let newpadding = top * 30 / window.innerHeight;
            newpadding += 10;
            //newpadding = Math.round(newpadding);
            console.log(container.id+ ": newpadding " + newpadding);
            newpadding = newpadding > 2 ? newpadding : 0;
            let newpaddingText = `${newpadding}%`;
            console.log(container.id+ ": newpaddingText " + newpaddingText)
            // Update the container's height
            if (container.style.paddingTop != newpaddingText) {
                container.style.paddingTop = newpaddingText;
                container.offsetTop = container.offsetTop;
            }
        })
    }

    // Listen for the scroll event
    window.addEventListener('scroll', updateContainerHeight);
    updateContainerHeight()
</script>

</html>