<!--/*@thymesVar id="model" type="de.evangliumstaucher.app.viewmodel.PassageModel"*/-->
<div th:fragment="passageContextLoading (model)">

    <div th:id="${model.htmlId}" th:class="${model.htmlClasses}" th:if="${model.path != 'pre'}">
        [(${model.content})]
    </div>
    <div th:id="|waiting${model.path}|" th:if="${model.passageLoader}">
        <div class="spinner-grow" role="status">
        </div>
        <script type="text/javascript">
            setTimeout(loadPassageAjax, [(${model.passageLoader.delay})], "[(${model.path})]");
        </script>
    </div>
    <div th:id="${model.htmlId}" th:class="${model.htmlClasses}" th:if="${model.path == 'pre'}">
        [(${model.content})]
    </div>
</div>
