<!--/*@thymesVar id="model" type="de.evangeliumstaucher.app.viewmodel.PassageModel"*/-->
<div th:fragment="passageContextLoading (model)">

    <div th:replace="passage_phrase.html :: passagetext(model=${model}, path='post')"></div>
    <div th:replace="passage_phrase.html :: passagetext(model=${model}, path='origin')"></div>
    <a class="btn w-100" role="button" th:href="|#${model.hashcode}tag|" th:if="${model.path != 'origin'}"
       th:onclick="|showPassage(this, ${model.hashcode})|">
        <p class="w-100 p-2 fs-6">
            <span class="placeholder col-1"></span>
            <span class="placeholder col-3"></span>
            <span class="placeholder col-2"></span>
            <span class="placeholder col-4"></span><br>
            <span class="placeholder col-2"></span>
            <span class="placeholder col-1"></span>
            <span class="col-4 opacity-50">mehr anzeigen</span>
            <span class="placeholder col-3"></span>
            <span class="placeholder col-5"></span>
            <span class="placeholder col-1"></span>
            <span class="placeholder"></span>
        </p>
    </a>
    <div th:classappend="${model.path != 'origin' ? 'd-none' : ''}" th:id="${model.hashcode}">
        <div th:id="|waiting${model.path}|" th:if="${model.passageLoader}">
            <div class="spinner-grow" role="status">
            </div>
            <script type="text/javascript">
                setTimeout(loadPassageAjax, [(${model.passageLoader.delay})], "[(${model.path})]");
            </script>
        </div>
    </div>
    <div th:replace="passage_phrase.html :: passagetext(model=${model}, path='pre')"></div>
</div>