<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Lies die Bibel</title>
    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" rel="stylesheet"></link>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 p-4">
    <h1 class="text-primary">Tauchbasis am Pier</h1>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button aria-controls="trend" aria-selected="true" class="nav-link" data-bs-target="#trend"
                            data-bs-toggle="tab"
                            id="trend-tab" role="tab" type="button">Tauchgänge im Trend
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button aria-controls="my" aria-selected="false" class="nav-link" data-bs-target="#my"
                            data-bs-toggle="tab"
                            id="my-tab" role="tab" type="button">Meine Tauchgänge
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quiz/create/">Tauchgang erstellen</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="trend-tab" class="tab-pane fade show active" id="trend" role="tabpanel">
                    <h4 class="card-title">Tauchgänge im Trend</h4>
                    <div th:insert="datatable.html :: datatable(${modelTrending})"></div>
                </div>
                <div aria-labelledby="my-tab" class="tab-pane fade show active" id="my" role="tabpanel">
                    <h4 class="card-title">Meine Tauchgänge</h4>
                    <div th:insert="datatable.html :: datatable(${modelMyDives})"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>