<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Lies die Bibel</title>
    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" rel="stylesheet"></link>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 p-4">
    <h1>Tauchbasis am Pier</h1>
    <h2>Tauchgänge im Trend</h2>
    <div th:insert="datatable.html :: datatable(${modelTrending})"></div>
    <a class="btn btn-primary" href="/quiz/create/" role="button">Einen neuen Tauchgang erstellen</a>
    <h2>Meine Tauchgänge</h2>
    <div th:insert="datatable.html :: datatable(${modelMyDives})"></div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>