<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Evangeliumstaucher</title>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<!--/*@thymesVar id="quiz" type="de.evangeliumstaucher.app.viewmodel.QuizModel"*/-->
<div class="container py-5 px-4">
    <h1 th:text="${quiz.name}"/>
    <p th:text="${quiz.description}"/>
    <div class="d-grid mb-4 mt-4 ">
        <a class="btn  btn-secondary m-6 text-white  btn-lg btn-block" th:href="${quiz.startUrl}">Eintauchen</a>
    </div>
    <div class="card">
        <div class="card-header">
            <span class="card-title">Teilen</span>
        </div>
        <div class="card-body">
            <div th:insert="fragment-share.html :: share (${quiz})"></div>
        </div>
    </div>

    <!-- Importing Footer -->
    <div th:insert="footer.html :: footer"></div>
</body>
</html>