<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"></head>
    <title>evangeliumstaucher</title>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="~{navbar.html :: navbar}"></div>
<div class="container mt-5">
    <h1 class="text-primary"><i aria-hidden="true" class="fa fa-plus-square"></i> Erstelle einen neuen Tauchgang</h1>
    <!--/*@thymesVar id="quizSetupModel" type="de.evangeliumstaucher.app.viewmodel.QuizSetupModel"*/-->
    <form method="post" th:action="submit" th:object="${quizSetupModel}">
        <div class="input-group input-group-lg mb-3">
            <span class=" input-group-text" id="label-name">Name</span>
            <input aria-describedby="label-name" class="form-control" id="quizName"
                   placeholder="Beschreibe es kurz"
                   required
                   th:field="*{name}" type="text">
        </div>

        <div class="input-group mb-3">
            <span class=" input-group-text" id="label-description">Beschreibung</span>
            <textarea class="form-control" id="description"
                      placeholder="Beschreibe hier den neuen Tauchgang etwas genauer" rows="4"
                      th:field="*{description}"></textarea>
        </div>

        <div class="input-group mb-3">
            <span class=" input-group-text" id="label-tags">Tags</span>
            <input class="form-control" id="tags" placeholder="#solusChristus,..." th:field="*{tags}" type="text">
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button aria-controls="collapseOne" aria-expanded="false" class="accordion-button collapsed"
                            data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
                        Erweiterte Konfiguration
                    </button>
                </h2>
                <div aria-labelledby="headingOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
                     id="collapseOne">
                    <div class="accordion-body">

                        <div class="input-group input-group-text d-flex w-100 mb-3">
                            <label
                                    for="countVerses"
                                    id="label-countVerses"
                            >Anzahl der Verse</label>
                            <input class="form-conrol form-range mt-2"
                                   id="countVerses"
                                   max="100"
                                   min="1"
                                   oninput="this.nextElementSibling.value = this.value" step="1"
                                   th:field="*{countVerses}"
                                   type="range">
                            <output
                                    class="form-control form-control-plaintext"
                                    th:text="${quizSetupModel.countVerses}">10
                            </output>
                            <!-- Default value -->
                        </div>
                        <h6>Bewertung</h6>
                        <p>
                            An den nächsten 2 Reglern kann genauer festgelegt werden, wie stark die abgelaufene Zeit und
                            die Entfernung der Auswahl bewertet wird.
                        </p>
                        <div class="input-group input-group-text d-flex w-100 mb-3">
                            <label
                                    for="timeAttr"
                                    id="label-timeAttr"
                            >Bewertung der abgelaufenen Zeit (%)</label>
                            <input class="form-conrol form-range mt-2"
                                   id="timeAttr"
                                   max="500"
                                   min="0"
                                   oninput="this.nextElementSibling.value = this.value" step="1"
                                   th:field="*{timeAttribute}"
                                   type="range">
                            <output
                                    class="form-control form-control-plaintext"
                                    th:text="${quizSetupModel.timeAttribute}">0
                            </output>
                            <!-- Default value -->
                        </div>
                        <div class="input-group input-group-text d-flex w-100 mb-3">
                            <label
                                    for="distanceAttr"
                                    id="label-distanceAttr"
                            >Bewertung der Distanz (%)</label>
                            <input class="form-conrol form-range mt-2"
                                   id="distanceAttr" max="500" min="0"
                                   oninput="this.nextElementSibling.value = this.value" step="1"
                                   th:field="*{distanceAttribute}"
                                   type="range">
                            <output class="form-control form-control-plaintext"
                                    th:text="${quizSetupModel.distanceAttribute}">0
                            </output> <!-- Default value -->
                        </div>

                        <div class="form-group mb-3">
                            <label>Passagen: </label>
                            <ul class="tree">
                                <li>
                                    <!-- Use the fragment to render a PassageTree instance passed as model -->
                                    <div th:replace="fragment_passageTree.html :: renderPassageTree(${quizSetupModel.passageTree})"></div>
                                </li>
                            </ul>

                            <script>
$(document).ready(function () {
    // Use event delegation on a specific container
    $('summary').on('click', async function () {
        const summary = $(this);
        console.log("clicked in tree");
        const parent = summary.parent();
        parent.find('ul > .list-group-item').each(function () {
            const loader = $(this);
            console.log("selected loader " + loader.html());
            const data = JSON.stringify(loader.data().passages);

            // Check if already loaded
            if (loader.html().trim() !== "") return;

            // Fetch child nodes via AJAX
            $.ajax({
                url: '/quiz/create/passagetree',
                method: 'POST',
                contentType: 'application/json',
                headers: {
                    'X-XSRF-TOKEN': '[[${_csrf.token}]]'
                },
                data: data,
                success: function (html) {
                    loader.html(html);
                },
                error: function () {
                    loader.html('<li class="list-group-item text-danger">Fehler beim Laden aufgetreten.</li>');
                    console.error("Error fetching data:", error);
                }
            });
        });
    });
});
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-lg w-100 my-2" type="submit">Erstellen</button>
    </form>
</div>
</body>
</html>
