<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>evangeliumstaucher</title>

    <link href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" rel="stylesheet"></link>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<!--/*@thymesVar id="quiz" type="de.evangeliumstaucher.app.viewmodel.QuizModel"*/-->
<div class="container min-vh-100  py-5 px-4">
    <h1>Tauchgang</h1>
    <h2 th:text="${quiz.name}"/>
    <p th:text="${quiz.description}"/>
    <div th:if="${quiz.tags.empty == false}">
        <h4>Tags</h4>
        <th:block th:each="tag : ${quiz.tags}">
            <p class="m-0" th:text="|#${tag}|"></p>
        </th:block>
    </div>
    <div class="d-grid mb-4 mt-4 ">
        <a class="btn  btn-secondary m-6 text-white  btn-lg btn-block" th:href="${quiz.startUrl}">Eintauchen</a>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="card-title">Teilen</span>
        </div>
        <div class="card-body">
            <div th:insert="fragment-share.html :: share (${quiz})"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="card-title">Scores</span>
        </div>
        <div class="card-body">
            <div th:insert="datatable.html :: datatable (${scoreTable})"></div>
        </div>
    </div>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>