<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="head.html :: head"/>
    <title>Quiz Page</title>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>
<!--/*@thymesVar id="question" type="de.evangeliumstaucher.app.viewmodel.RunningQuestion"*/-->
<div class="container py-5 px-4">

    <script>
        function loadPassageAjax(path) {
            $.ajax({
                url: path,
                success: function (data) {
                    $('#waiting' + path).replaceWith(data);
                }
            });
        }
    </script>
    <div id="quizpassage">
        <div th:insert="passageContextLoading.html :: passageContextLoading(${question.pre})"></div>
        <div th:insert="passageContextLoading.html :: passageContextLoading(${question.origin})"></div>
        <div th:insert="passageContextLoading.html :: passageContextLoading(${question.post})"></div>
    </div>
    <div th:insert="fragment-selector.html :: selector (${question.books})"></div>
</div>

<!--handling the zoom -> text scaling-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script>
    const box = document.getElementById("quizpassage");

    function handleWheel(event) {
        if (event.ctrlKey) {
            event.preventDefault();
            const delta = -event.deltaY;
            const currentFontSize = parseFloat(getComputedStyle(box).fontSize);
            const newFontSize = currentFontSize + (delta / 20);
            box.style.fontSize = newFontSize + "px";
        } else {
            box.scrollLeft += event.deltaX;
            box.scrollTop += event.deltaY;
        }
    }

    box.addEventListener("wheel", handleWheel, {passive: false});

    function handlePan(event) {
        totalDeltaY = window.scrollY + event.deltaY;

        window.scrollTo(window.scrollX, totalDeltaY);
    }

    function handlePinch(event) {
        if (event.scale === 1) {
        } else {
            const currentFontSize = parseFloat(getComputedStyle(box).fontSize);
            scale = event.scale;
            if (scale > 1) {
                scale = 1 + ((scale - 1) / 100)
            } else {
                scale = 1 + ((scale - 1) / 100)
            }
            const newFontSize = currentFontSize * scale;
            box.style.fontSize = newFontSize + "px";
        }
    }

    const hammer = new Hammer(box);
    hammer.get('pinch').set({enable: true});
    hammer.on("wheel", handleWheel);
    hammer.on("pan", handlePan);
    hammer.on("pinch", handlePinch);
</script>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>