<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"></head>
    <title>evangeliumstaucher</title>
</head>
<body>
<!-- Importing NavBar -->
<div th:insert="~{navbar.html :: navbar}"></div>
<!--/*@thymesVar id="question" type="de.evangeliumstaucher.app.viewmodel.RunningQuestion"*/-->
<div class="container p-0 min-vh-100">

    <script>
        function loadPassageAjax(path) {
            $.ajax({
                url: path,
                success: function (data) {
                    $('#waiting' + path).replaceWith(data);
                }
            });
        }
    </script>
    <div class="bg-black py-3">
        <h2 class="text-primary">Betrachte den Bibeltext und seinen Kontext.</h2>
    </div>
    <div class="bg-third" id="quizpassage">
        <div class="card bg-third p-0" style="
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1))
        ">
            <div class="card-body bg-transparent p-0">
                <div class="card-text">
                    <div th:insert="passageContextLoading.html :: passageContextLoading(${question.pre})"></div>
                </div>
            </div>
        </div>
        <div class="card my-2 border-primary border-2 p-0" id="theverse">
            <div class="card-body p-0">
                <div class="card-text">
                    <div th:insert="passageContextLoading.html :: passageContextLoading(${question.origin})"></div>
                </div>
            </div>
        </div>

        <div class="card bg-third p-0" style="
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5))
        ">
            <div class="card-body bg-transparent p-0">
                <div class="card-text">
                    <div th:insert="passageContextLoading.html :: passageContextLoading(${question.post})"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-third">
        <p class="text-themegrey">
            TODO Hier muss das Copyright hin
        </p>
    </div>

    <!--handling the zoom -> text scaling-->
    <script>

        const box = document.getElementById("quizpassage");

        // Restore the font size from localStorage on start
        restoreFontSize();

        // Function to restore the font size from localStorage and apply it
        function restoreFontSize() {
            // Get the font size from localStorage
            const fontSize = localStorage.getItem("passageFontSize");

            // If the font size exists in localStorage, apply it
            if (fontSize) {
                box.style.fontSize = fontSize + "px";
            }
        }

        function scale(summand) {
            const currentFontSize = parseFloat(getComputedStyle(box).fontSize);
            const newFontSize = currentFontSize + summand;
            console.log("old " + currentFontSize + "px new " + newFontSize + "px");
            box.style.fontSize = newFontSize + "px";

            // Store the new font size in localStorage
            localStorage.setItem("passageFontSize", newFontSize);
        }

        function handleWheel(event) {
            if (event.ctrlKey) {
                event.preventDefault();
                const delta = -event.deltaY;
                scale(delta / 20);
            }
        }

        box.addEventListener("wheel", handleWheel, {passive: false});

        let hypo = undefined;

        box.addEventListener('touchmove', function (event) {
            var summand;
            if (event.targetTouches.length === 2) {
                event.preventDefault();
                let hypo1 = Math.hypot((event.targetTouches[0].pageX - event.targetTouches[1].pageX),
                    (event.targetTouches[0].pageY - event.targetTouches[1].pageY));
                if (hypo === undefined) {
                    hypo = hypo1;
                }
                summand = ((hypo1 / hypo) - 1);
                console.log("pinch scale summand :" + summand);
                scale(summand);
            }
        }, false);

        box.addEventListener('touchend', function (event) {
            hypo = undefined;
        }, false);

        function showPassage(element, htmlid) {
            $("#" + htmlid).removeClass("d-none");
            element.classList.add("d-none")
        }
    </script>

    <div class="container">
        <h2 class="py-3">Wo steht die Passage? Wähle aus.</h2>
        <div th:insert="fragment-selector.html :: selector (${question.books})"></div>
    </div>
    <div class="position-fixed bottom-0 end-0  m-2">
        <a class="btn p-3  rounded-circle  bg-primary" href="#selector" role="button" type="button">
            <div class="ratio ratio-1x1 p-4 ">
                <i class="fa-solid fa-2x fa-chevron-right"></i>
            </div>
        </a>
    </div>

    <!-- Importing Footer -->
    <div th:insert="footer.html :: footer"></div>
</div>
</body>
</html>