<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Score Board</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<!-- Main Container Start -->
<div class="main-container container py-5 px-4">
    <h3 class="bg-danger text-center mb-5 p-2">Top Scores Of All Time</h3>

    <table class="bg-dark text-light">
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <tr th:each="score : ${sList}">
            <td th:text="${score.username}"></td>
            <td th:text="${score.totalCorrect}"></td>
        </tr>
    </table>
</div>

<!-- Importing Footer -->
<div th:insert="footer.html :: footer"></div>
</body>
</html>