<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:insert="~{head.html :: head}"/>
    <title>Evangeliumstaucher</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="~{navbar.html :: navbar}"></div>

<!-- Main Container Start -->
<div class="container min-vh-100 py-5 px-4">
    <div th:if="${userPersists == null || !userPersists}">
        <h1>Hallo,</h1>
        <p>
            schön, dass du hier bist, um auch ins Evangelium einzutauchen.
            Ich brauche vorher noch deinen Namen.
        </p>
    </div>
    <div class="alert alert-warning" role="alert" th:if="${errortext}">
        <span th:text="${errortext}"></span>
    </div>
    <form action="#" th:action="${actionUrl}" th:method="post">
        <div class="form-group m-2">
            <label for="username">Spielername:</label>
            <input class="form-control form-control-lg mv-2" id="username" maxlength="30"
                   name="username" placeholder="Spielername eingeben"
                   required type="text">
            <small class="form-text text-muted" id="usernameHelp">Es kann auch gerne ein Spitzname sein.</small>

        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-lg w-100" type="submit">Weiter</button>
        </div>
    </form>
</div>

<!-- Importing Footer -->
<div th:insert="~{footer.html :: footer}"></div>
</body>
</html>