<!--/*@thymesVar id="verse" type="de.evangeliumstaucher.app.viewmodel.VerseModel"*/-->
<p class="text-start my-2">Vers:</p>
<div class="grid">
    <div th:each="group : ${verseGroups}">
        <div class="col-12 row gx-0 p-0">
            <th:block th:each="verse : ${group}">
                <div class="col-2 p-1" style="width: 20%;">
                    <a aria-expanded="false"
                       class="btn w-100 btn-dark rounded-0 m-1"
                       role="button"
                       th:href="${verse.url}"
                       th:text="${verse.label}">
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</div>